.form{
    display: flex;
}

.btn{
    height: 2rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    /*margin-left: 0.5rem;*/
    background-color: orange;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
}

input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    background-color: blue;
}
