.menu{
    width: 90%;
    background-color: rgba(165,165,255,0.2);
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.seating{
    width: 90%;
    background-color: rgba(121,214,87,0.2);
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem auto;
    min-height: 1rem;
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    width: fit-content;
}

.seat{
    display: block;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
    border-width: 0.2rem;
    border-style: solid;
    border-color: black;
    border-radius: 40%;
    background-color: yellow;
}
